@use '_colors.scss' as *;
@use '_mixins.scss' as *;


.groups {
  background-color: $white;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
  }

  &__item {
    background-color: $light-gray;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid rgba($primary, 0.2);

    &:hover {
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      border-color: $primary;
    }
  }

  h3 {
    font-size: 1.3rem;
    color: $primary;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
    color: $dark-gray;
  }
}